<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- Hidden -->
	<setting id="_last_run_version" type="text" label="Last Run Version" option="hidden" default="" />
	<!-- General -->
	<category label="4001">
		<setting id="Username" type="text" label="4002" default="" />
		<setting id="Password" type="text" label="4003" option="hidden" default="" />
		<setting type="sep" />
		<setting id="Country" type="enum" label="4012" lvalues="4013|4014|4023|4026" default="0" />
		<setting type="sep" />
		<setting id="UseTvdb" type="bool" label="4027" default="true" />
		<setting type="sep" />
		<setting id="SortByAdded" type="bool" label="4029" default="false" />
		<setting type="sep" />
		<setting id="CheckVersion" type="bool" label="4059" default="true" />
	</category>
	<!--category label="4031">
		<setting id="UseAndroid" type="bool" label="4030" default="false" />
		<setting id="UseSubtitles" type="bool" label="4032" default="true" />
	</category-->
	<category label="4049">
		<setting id="UseParentalControl" type="bool" label="4050" default="false" />
		<setting id="Pincode" type="text" label="4051" option="hidden" default="" />
	</category>
</settings>
